{% assign pages_list = site.pages | sort: 'position' %}
{% assign group = 'navigation' %}

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">


      <ul class="sitemap">
        {% for item in site.menus.header %}
          {% assign page_href = item.url | prepend: site.baseurl %}
          {% assign page_title = item.title %}
          <li class="sitemap__item menu-item-{{ loop.index }}">
            <a
              href="{{ page_href }}"
            >{{ page_title }}</a>
            {% if item.children %}
              <ul>
              {% assign submenu = item.children | sort: 'url' | sort: 'position' %}
              {% for item in submenu %}
                {% assign page_href = item.url | prepend: site.baseurl %}
                <li class="sitemap__item sitemap__item--sub">
                  <a href="{{ page_href }}">{{ item.title }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
        <p>
            TODO: ending words, copyright?
        </p>
      </div>
    </div>
  </div>
</footer>