{% assign pages_list = site.pages | sort: 'position' %}
{% assign group = 'navigation' %}

<!-- Source: https://codepen.io/littus/pen/JbPpKv -->

<!-- Navigation -->
<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
        </button>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          {% include pages-list.html %}
        </ul>
      </div>
    </div>
  </div>
</nav>