{% assign pages_list = site.pages | sort: 'position' %}
{% assign group = 'navigation' %}

<!-- Source: https://codepen.io/littus/pen/JbPpKv -->


<nav class="navbar navbar-expand-lg navbar-light bg-light"
data-spy="affix" data-offset-top="197"
>
<div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
      {% for item in site.menus.header %}
        {% assign page_href = item.url | prepend: site.baseurl %}
        {% assign page_title = item.title %}
        {% if item.children %}
          <li class="nav-item dropdown menu-item-{{ loop.index }}">
            <a
              class="nav-link dropdown-toggle"
              href="{{ page_href }}"
              id="menu-{{ item.identifier }}"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >{{ page_title }}</a>
            {% if item.children %}
              <div class="dropdown-menu" aria-labelledby="menu-{{ item.identifier }}">
              {% assign submenu = item.children | sort: 'position'  %}
              {% if page_title != 'Concepts' %}
                <a class="dropdown-item" href="{{ page_href }}">Overview</a>
                <div class="dropdown-divider"></div>
              {% endif %}
              {% for item in submenu %}
                {% assign page_href = item.url | prepend: site.baseurl %}
                <a class="dropdown-item" href="{{ page_href }}">{{ item.title }}</a>
              {% endfor %}
              </div>
            {% endif %}
          </li>
        {% else %}
          <li class="nav-item menu-item-{{ loop.index }}">
            <a class="nav-link" href="{{ page_href }}">{{ item.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</nav>
