{% assign pages_list = site.pages | sort: 'position' %}
{% assign group = 'navigation' %}

<!-- Source: https://codepen.io/littus/pen/JbPpKv -->


<nav class="navbar navbar-expand-lg navbar-light bg-light"
data-spy="affix" data-offset-top="197"
>
<div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
          {% include pages-list.html %}
      </ul>
    </div>
  </div>
</nav>