{% if page.url == '/' %}
  {% assign page_href = '#page-top' %}
{% else %}
{% assign page_href = '/' | prepend: site.baseurl %}
{% endif %}
{% if page.url == node.url %}
<li class="nav-item active">
  <a href="{{ page_href }}" class="nav-link active">Home</a>
</li>
{% else %}
<li class="nav-item"><a class="nav-link" href="{{ page_href }}">Home</a></li>
{% endif %}

{% for node in pages_list %}
  {% if group == null or group == node.group %}
    {% if page.url == '/' %}
      {% assign page_name = node.name | split: '.md' %}
      {% assign page_href = page_name[0] | prepend: '#' %}
    {% else %}
      {% assign page_href = node.url | prepend: site.baseurl %}
    {% endif %}
    {% if page.url == node.url %}
      <li class="nav-item active">
        <a href="{{ page_href }}" class="nav-link active">{{node.title}}</a>
      </li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="{{ page_href }}">{{node.title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}