---
layout: empty
---
<link href="{{ "/assets/css/ninja-slider.css" | prepend: site.baseurl }}" rel="stylesheet" type="text/css" />
<script src="{{ "/assets/js/ninja-slider.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script>
    function lightbox(idx) {
        /*show the slider's wrapper: this is required when the transitionType has been set to "slide" in the ninja-slider.js*/
        var ninjaSldr = document.getElementById("ninja-slider");
        ninjaSldr.parentNode.style.display = "block";

        nslider.init(idx);

        var fsBtn = document.getElementById("fsBtn");
        fsBtn.click();
    }

    function fsIconClick(isFullscreen, ninjaSldr) { /*fsIconClick is the default event handler of the fullscreen button*/
        if (isFullscreen) {
            ninjaSldr.parentNode.style.display = "none";
        }
    }
</script>
<style>
    ul li {padding: 10px 0;}
    header {display:block;padding:60px 0 10px;background-color:#191919;text-align:center;}
    header a {
        font-family: sans-serif;
        font-size: 24px;
        line-height: 24px;
        padding: 8px 13px 7px;
        color: #4d5256;
        text-decoration:none;
        transition: color 0.7s;
    }
    header a.active {
        font-weight:bold;
        width: 24px;
        height: 24px;
        padding: 4px;
        text-align: center;
        display:inline-block;
        border-radius: 50%;
        background: #4d5256;
        color: #191919;
    }
    .gallery img{
        width:179px;
        cursor:pointer;
    }
</style>

 <!--start-->
 <div style="display:none;">
    <div id="ninja-slider">
        <div class="slider-inner">
            <ul>
                {% for image in page.images %}
                    <li>
                        <a class="ns-img" href="{{ page.dir | prepend: site.baseurl  }}{{ image.name }}"></a>
                    </li>
                {% endfor %}
            </ul>
            <div id="fsBtn" class="fs-icon" title="Expand/Close"></div>
        </div>
    </div>
</div>

{% for image in page.images %}
    <div class="gallery-image-wrapper">
        <img class="gallery-image" src="{{ page.dir | prepend: site.baseurl  }}thumbs/{{ image.name }}"  onclick="lightbox({{ forloop.index0 }})" />
    </div>
{% endfor %}