---
layout: default
---

{% if page.long_title %}
  {% assign page_title = page.long_title %}
{% else %}
  {% assign page_title = page.title %}
{% endif %}

<article class="post">

  <header class="post-header intro">
    <div class="intro-in">
      <h1 class="post-title">{{ page_title }}</h1>
      {% if page.subtitle %}
        <h2 class="intro-subtitle">{{ page.subtitle }}</h2>
      {% endif %}
    </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>

{% include footer.html %}
