.findings-page {

  a.btn {
      text-decoration: none;
  }

  .ecosystem {
      width: 100%;
      margin: 2em 0;
  }

  .highlighted-list {

    width: 50%;
    min-width: 300px;
    list-style: decimal inside none;
    margin: 1em auto 2em;

      li {
          color: $white-color;
          font-size: 1.5em;
          padding: 0.25em 0.5em;
          border-radius: 0.25em;
          margin: 0.25em 0;
          padding-left: 1.5em;

          &:before {
              content: '#';
              margin-left: -1.5em;
              margin-right: 1em;

          }
      }

      li:nth-child(even) {
        background-color: $light-green-color;
      }
      li:nth-child(odd) {
        background-color: $light-blue-color;
      }
  }

  .money-flow,
  .areas {
      width: 80%;
      display: block;
      margin: 1em auto 2em;
  }

  .model {
      width: 80%;
      margin: 0 auto;

      &--max {
          width: 100%;
      }

      td.model__no-pad {
          padding-top: 0;
      }

      td {
        padding: 1em;
        vertical-align: top;
        border: none;
      }

      h4 {
          margin: 0;
      }

      &__header {
          color: $white-color;
          background-color: $primary-color;
          border-radius: 0.5em;
          padding: 0.5em 1.5em;
          text-align: center;

          &--wrapper {
              background-color: $orange-color;
          }
      }

      &__subheader {
        color: $white-color;
        background-color: $tiffany-color;
        border-radius: 0.5em;
        padding: 0.5em 1.5em;
        text-align: center;
      }
  }

  .block {
      margin-bottom: 2em;
  }

  .logo {
      &__meituan {
          height: 300px;
          margin-right: 1em;
      }
      &__ele {
          height: 150px;
          margin-left: 1em;
      }
  }

}