.home-page {

    header {
        height: 400px;
        background-color: $white-color;
        padding-top: 100px;
        color: $dark-gray-color;
        font-size: 28px;

        .huhtamaki-logo {
            width: 500px;
        }

        .aalto-logo {
            width: 200px;
        }
    }

    section {
        padding-top: 100px;
        padding-bottom: 60px;
        color: $white-color;
    }

    #about {
        background-color: $tiffany-color;
    }

    #methodology {
        background-color: $violet-color;
    }
    #findings {
        background-color: $orange-color;
    }
    #concepts {
        background-color: $light-green-color;
    }

    section,
    section a {
      text-decoration: none;
      color: $white-color;
  
      &:hover {
        /*color: $light-gray-color;*/
      }
    }

    .card {
        &--team {
            background-color: transparent;
            border: none;
        }
    }

    .process {
        width: 100%;
        margin: 2em 0;
    }

}