.home-page {

    header {
        height: 400px;
        background-color: $white-color;
        padding-top: 100px;
        color: $dark-gray-color;
        font-size: 28px;
    }

    .logo {
        display: inline-block;

        &--huhtamaki {
            width: 200px;
        }
        &--aalto {
            width: 50px;
            margin-left: 50px;
            margin-bottom: 2px;
        }
    }

    section {
        padding-top: 100px;
        padding-bottom: 60px;
        color: $white-color;
    }

    #about {
        background-color: $tiffany-color;
    }

    #methodology {
        background-color: $violet-color;
    }
    #findings {
        background-color: $tiffany-color;
    }
    #concepts {
        background-color: $violet-color;
    }

    section,
    section a {
      text-decoration: none;
      color: $white-color;
  
      &:hover {
        /*color: $light-gray-color;*/
      }
    }

    .card {
        &--team {
            background-color: transparent;
            border: none;
        }
    }

    .process, 
    .ecosystem,
    .solution {
        width: 80%;
        margin: 2em 0;
    }
    .solution {
        margin: 0;
    }

}