.image--auto {
    margin: 1.5em auto;
    display: block;
}
.image--max {
    width: 80%;
    margin: 1.5em 10%;
}

.image--medium {
    width: 50%;
    margin: 1.5em 25%;
}

blockquote {
    margin-left: 2em;
    font-size: 1.5em;
}