body {
  position: relative;
  height: auto;
}
.affix {
}
.navbar {
  margin-bottom: 0px;
}
.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}

.navbar {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 9999 !important;
  background-color: $primary-color;
  font-size: 24px;
  font-weight: 300;

  a {
    text-decoration: none;
  }

}