.navbar {
  background-color: $primary-color;
  font-size: 1.6rem;
  font-weight: 300;

  .nav-item {
    margin-right: 1em;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .nav-link {
    text-decoration: none;
  }

}