body {
  position: relative;
  height: auto;
}
.navbar {
  margin-bottom: 0px;

  li {
    margin-right: 1em;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
.affix ~ .container-fluid {
 position: relative;
 top: 50px;
}

.navbar {
  position: fixed;
  top:0;
  width: 100%;
  z-index: 9999 !important;
  background-color: $primary-color;
  font-size: 24px;
  font-weight: 300;

  a {
    text-decoration: none;
  }

}