.huhtamaki-logo {
  width: 18em;
}

.intro-actions {
  margin-top: 3em;
}

.block {
  font-weight: $font-weight-light;
  background: $tiffany-color;
  border-radius: 50px;
  padding: 25px;
  text-align: center;
  display: inline-block;
  width: 31%;
  margin: 10px 1%;

  &__title {
    font-size: 100px;
    color: white;
    margin: 0;
  }

  &__text {
    font-size: 25px;
    color: white;
    margin: 10px;
  }

  &__sign {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  &--white {
    background: white;
    border: $light-gray-color 1px solid;
  }
  &--white {
    .block__text {
      color: $black-color;
    }
  }

}

.map {
  margin: 25px 0;
}


.cloud {
  display: inline-block;
  list-style-type: none;
  width: 400px;
  width: 50%;
  margin: 2em 25%;
  text-align: center;
}
.cloud li {
  list-style: none;
  display: inline;
  white-space: nowrap;
  margin-left: 1em;
}
.cloud li:nth-of-type(3n + 1) {
    font-size: 40px;
}
.cloud li:nth-of-type(4n+3) {
    font-size: 50px;
}
.cloud li:nth-of-type(5n - 3) {
    font-size: 25px;
}

.industry-page {

  .restaurants-list {
    font-size: 36px;
     -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    text-align: center;

    li {
      margin-bottom: 0.25em;
    }
  }

  .foodora {
    float: right;
  }

}

.ideation-page {
  .solution {
    border-radius: 50px;
    width: 31%;
    margin: 1%;
    padding: 20px;
    color: $white-color;
    display: inline-block;

    h3 {
      text-align: center;
    }

    b {
      display: block;
      text-align: center;
      margin-top: 1em;
    }

    &--core {
      background-color: $orange-color;
    }
    &--ideal {
      background-color: $blue-color;
    }
    &--bike {
      background-color: $magenta-color;
    }
    &--intelligent {
      background-color: $light-green-color;
    }
    &--customized {
      background-color: $pink-color;
    }
    &--partnership {
      background-color: $violet-color;
    }
  }
}
