.huhtamaki-logo {
  width: 18em;
}

.intro-actions {
  margin-top: 3em;
}

.block {
  font-weight: $font-weight-light;
  background: $tiffany-color;
  border-radius: 50px;
  padding: 25px;
  text-align: center;
  display: inline-block;
  width: 31%;
  margin: 10px 1%;

  &__title {
    font-size: 100px;
    color: white;
    margin: 0;
  }

  &__text {
    font-size: 25px;
    color: white;
    margin: 10px;
  }

  &__sign {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }

  &--white {
    background: white;
    border: $light-gray-color 1px solid;
  }
  &--white {
    .block__text {
      color: $black-color;
    }
  }

}

.map {
  margin: 25px 0;
}


.cloud {
  display: inline-block;
  list-style-type: none;
  width: 400px;
  width: 50%;
  margin: 2em 25%;
  text-align: center;
}
.cloud li {
  list-style: none;
  display: inline;
  white-space: nowrap;
  margin-left: 1em;
}
.cloud li:nth-of-type(3n + 1) {
    font-size: 40px;
}
.cloud li:nth-of-type(4n+3) {
    font-size: 50px;
}
.cloud li:nth-of-type(5n - 3) {
    font-size: 25px;
}

.industry-page {

  .restaurants-list {
    font-size: 36px;
     -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    text-align: center;

    li {
      margin-bottom: 0.25em;
    }
  }

  .company {
    display: inline-block;
    width: 31%;
    margin: 1%;

    li {
      &:first-child {
        background-color: $primary-color;
        padding: 20px;
        border-radius: 40px;
        text-align: center;
        color: $white-color;
        font-size: 40px;
        margin-bottom: 20px;
      }
    }

    &--second {
      width: 22.5%;

      li {
        &:first-child {
          font-size: 25px;
          padding: 15px;
          border-radius: 30px;
        }
      }
    }

    &--foodora {
      li:first-child {
        background-color: $pink-color;
      }
    }
    &--delivery-hero {
      li:first-child {
        background-color: $violet-color;
      }
    }
    &--delivery-hero {
      li:first-child {
        background-color: $light-green-color;
      }
    }
    &--uber-eats {
      li:first-child {
        background-color: $dark-gray-color;
      }
    }
    &--food-panda {
      li:first-child {
        background-color: $orange-color;
      }
    }
    &--delivery-club {
      li:first-child {
        background-color: $tiffany-color;
      }
    }

  }

  .factory {
    width: 49%;
  }

  .deliveroo {
    transform: skew(7deg, 3deg);
    box-shadow: 
      0 0 0 2px $tiffany-color,
      0 0 0 3px #FFF;
  }
  .foodora {
    float: right;
    transform: skew(-6deg, -4deg);
    box-shadow: 
      0 0 0 2px $pink-color,
      0 0 0 3px #FFF;
  }
  .wolt {
    transform: skew(5deg, 2deg);
    box-shadow: 
      0 0 0 2px $light-green-color,
      0 0 0 3px #FFF;
  }

}

.ideation-page {
  .solution {
    border-radius: 50px;
    width: 31%;
    margin: 1%;
    padding: 20px;
    color: $white-color;
    display: inline-block;

    h3 {
      text-align: center;
    }

    b {
      display: block;
      text-align: center;
      margin-top: 1em;
    }

    &--core {
      background-color: $orange-color;
    }
    &--ideal {
      background-color: $blue-color;
    }
    &--bike {
      background-color: $magenta-color;
    }
    &--intelligent {
      background-color: $light-green-color;
    }
    &--customized {
      background-color: $pink-color;
    }
    &--partnership {
      background-color: $violet-color;
    }
  }

  .sketch {
    width: 31%;
    margin: 60px 1% 0;
  }
}

.solution-page {

  .solution {
    width: 49%;
  }

  .features {
    display: inline-block;
    width: 31%;
    margin: 1%;

    li {
      &:first-child {
        background: $tiffany-color;
        border-radius: 30px;
        padding: 10px;
        font-size: 30px;
        color: $white-color;
        text-align: center;
        margin-bottom: 20px;
      }

      padding: 0 10px;
    }
  }

  .sleeve {
    width: 50%;
  }

  .iot-text {
    font-size: 28px;
  }

  .eggs, .arrange, .cats {
    height: 242px;
  }

}

.next,
.prev {

  display: inline-block;
    font-size: 50px;
    text-decoration: none;
}

.next {
  &:after {
    content: '↬';
    width: 65px;
    height: 65px;
    display: inline-block;
    background-color: $primary-color;
    border-radius: 50%;
    color: $white-color;
    margin: 0 15px;
  }

}
